In [9]:
# import ttest_ind from scipy.stats
from scipy.stats import ttest_ind
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
df = pd.read_csv('Placement.csv')
# remove null values from salary column
df = df.fillna(df['salary'].isna())
df = df.fillna(df['salary'].mean())
df.isna().sum()

#df.select_dtypes(include=[np.number])
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.000000
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.000000
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.000000
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,288655.405405
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.000000

## independant Sample - unPaired T Test
#### different group (male, female) but same condition

In [47]:
# df filter male salsalaryeary and female salary sepereate
male = df[df["gender"] == "M"]["salary"]
female = df[df["gender"] == "F"]["salary"]

ttest_ind(male, female)

TtestResult(statistic=np.float64(1.9001627265152634), pvalue=np.float64(0.05876239427122641), df=np.float64(213.0))

In [20]:
# df filter male salsalaryeary and female salary sepereate
others = df[df["hsc_b"] == "Others"]["salary"]
central = df[df["hsc_b"] == "Central"]["salary"]

ttest_ind(others, central)

TtestResult(statistic=np.float64(-0.09117578929975474), pvalue=np.float64(0.9274385986418501), df=np.float64(213.0))

## Dependent Sample Paired T-test
#### Same group (M) but different condition (hsc_p, ssc_p)

In [ ]:
male_hscP = df[df["gender"] == "M"]["hsc_p"]
female_hscP = df[df["gender"] == "M"]["ssc_p"]
ttest_ind(male_hscP, female_hscP)

## since p value is greater than 0.05 t-test is not significant difference between male and female hsc_p and ssc_p

TtestResult(statistic=np.float64(-0.462536606114424), pvalue=np.float64(0.6440609938866582), df=np.float64(276.0))

In [44]:
commerce_etest = df[df["hsc_s"] == "Commerce"]["etest_p"]
commerce_mba = df[df["hsc_s"] == "Commerce"]["mba_p"]
ttest_ind(commerce_etest, commerce_mba)

TtestResult(statistic=np.float64(7.079422262550767), pvalue=np.float64(1.844299454870846e-11), df=np.float64(224.0))