In [2]:
import numpy as np
import pandas as pd
# from Univariate import Univariate  # Commented out due to ImportError
from Univariate import UnivariateCls

In [3]:
dataset = pd.read_csv('Placement.csv')  # Replace with your actual dataset path
dataset = dataset.drop(columns=["sl_no"], axis=1)
qual, quant = UnivariateCls(dataset).quanQual()
qual

dataset.head()

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [185]:


# Create a NumPy array
arr = np.array([5,6,3,3,2,4,7,5,2,3,5,6,5,4,4,3,5,2,5,3])

# Get unique elements and their counts
unique_elements, counts = np.unique(arr, return_counts=True)


# print using interpolation in single line
print(f"Unique Elements: {unique_elements}, Counts: {counts}")


# You can also iterate and print them together
# for element, count in zip(unique_elements, counts):
#     print(f"{element} occurs {count} times")
    
for element, count in zip(*np.unique(arr, return_counts=True)):
    print(f"{element} occurs {count} times")
    
np.argmax(counts)  # Index of the most frequent element
unique_elements[np.argmax(counts)]  # Most frequent element

Unique Elements: [2 3 4 5 6 7], Counts: [3 5 3 6 2 1]
2 occurs 3 times
3 occurs 5 times
4 occurs 3 times
5 occurs 6 times
6 occurs 2 times
7 occurs 1 times

np.int64(5)

In [151]:
dataset["ssc_p"].value_counts()
dataset['salary'].fillna(dataset['salary'].mean(), inplace=True)

/var/folders/h3/4zbm2_gs3kvcp1xbhzzbl3zh0000gp/T/ipykernel_58187/2786863226.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['salary'].fillna(dataset['salary'].mean(), inplace=True)

In [205]:
frequencyTable = pd.DataFrame(columns=["UniqueValues", "Frequency", "RelativeFrequency", "Cumsum"])
frequencyTable["UniqueValues"] = dataset["ssc_p"].value_counts().index
frequencyTable["Frequency"] = dataset["ssc_p"].value_counts().values
frequencyTable["RelativeFrequency"] = (frequencyTable["Frequency"] / len(dataset["ssc_p"]))
frequencyTable["Cumsum"] = frequencyTable["RelativeFrequency"].cumsum()


frequencyTable

     UniqueValues  Frequency  RelativeFrequency    Cumsum
0           62.00         11           0.051163  0.051163
1           63.00         10           0.046512  0.097674
2           67.00          9           0.041860  0.139535
3           52.00          9           0.041860  0.181395
4           73.00          9           0.041860  0.223256
..            ...        ...                ...       ...
98          69.70          1           0.004651  0.981395
99          80.92          1           0.004651  0.986047
100         83.00          1           0.004651  0.990698
101         86.50          1           0.004651  0.995349
102         80.60          1           0.004651  1.000000

[103 rows x 4 columns]

In [202]:
def frequencyTable(column_name, dataset):
    
    #for col in column_name:
        frequencyTable = pd.DataFrame(columns=["UniqueValues", "Frequency", "RelativeFrequency", "Cumsum"])
        #print(dataset[col].value_counts().index)
        frequencyTable["UniqueValues"] = dataset[column_name].value_counts().index
        frequencyTable["Frequency"] = dataset[column_name].value_counts().values
        frequencyTable["RelativeFrequency"] = (frequencyTable["Frequency"] / len(dataset[column_name]))
        frequencyTable["Cumsum"] = frequencyTable["RelativeFrequency"].cumsum()
        return frequencyTable

In [203]:
#frequencyTable(dataset, qual)[40:45]
frequencyTable("ssc_p", dataset)

     UniqueValues  Frequency  RelativeFrequency    Cumsum
0           62.00         11           0.051163  0.051163
1           63.00         10           0.046512  0.097674
2           67.00          9           0.041860  0.139535
3           52.00          9           0.041860  0.181395
4           73.00          9           0.041860  0.223256
..            ...        ...                ...       ...
98          69.70          1           0.004651  0.981395
99          80.92          1           0.004651  0.986047
100         83.00          1           0.004651  0.990698
101         86.50          1           0.004651  0.995349
102         80.60          1           0.004651  1.000000

[103 rows x 4 columns]