In [53]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.preprocessing import LabelEncoder
import joblib
import pickle

In [54]:
df = pd.read_csv('50_Startups.csv')

df = pd.get_dummies(df, )
df.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_California,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,False,False,True
1,162597.70,151377.59,443898.53,191792.06,True,False,False
2,153441.51,101145.55,407934.54,191050.39,False,True,False
3,144372.41,118671.85,383199.62,182901.99,False,False,True
4,142107.34,91391.77,366168.42,166187.94,False,True,False

In [55]:
independent = df[[d for d in df.columns if d != 'Profit']]
dependent = df[['Profit']]

In [56]:
independent.head()

,R&D Spend,Administration,Marketing Spend,State_California,State_Florida,State_New York
0,165349.20,136897.80,471784.10,False,False,True
1,162597.70,151377.59,443898.53,True,False,False
2,153441.51,101145.55,407934.54,False,True,False
3,144372.41,118671.85,383199.62,False,False,True
4,142107.34,91391.77,366168.42,False,True,False

In [57]:
dependent.head()

      Profit
0  192261.83
1  191792.06
2  191050.39
3  182901.99
4  166187.94

In [58]:
X_train, X_test, y_train, y_test = train_test_split(independent, dependent, test_size=0.2, random_state=42)

In [59]:
X_train.head()

,R&D Spend,Administration,Marketing Spend,State_California,State_Florida,State_New York
12,93863.75,127320.38,249839.44,False,True,False
4,142107.34,91391.77,366168.42,False,True,False
37,44069.95,51283.14,197029.42,True,False,False
8,120542.52,148718.95,311613.29,False,False,True
3,144372.41,118671.85,383199.62,False,False,True

In [60]:
y_train.head()

       Profit
12  141585.52
4   166187.94
37   89949.14
8   152211.77
3   182901.99

In [69]:
regressor = RandomForestRegressor(n_estimators=10, random_state=42)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
r2_score(y_test, y_pred)
# Save the model using joblib
joblib.dump(regressor, 'random_forest_model_joblib.pkl')
# Save the model using pickle
with open('random_forest_model_pickle.pkl', 'wb') as f:
    pickle.dump(regressor, f)
# Load the model using joblib
loaded_model_joblib = joblib.load('random_forest_model_joblib.pkl')
# Load the model using pickle
with open('random_forest_model_pickle.pkl', 'rb') as f:
    loaded_model_pickle = pickle.load(f)
# Verify that the loaded models give the same predictions
y_pred_joblib = loaded_model_joblib.predict(X_test)
y_pred_pickle = loaded_model_pickle.predict(X_test)
print("R2 Score (Joblib):", r2_score(y_test, y_pred_joblib))
print("R2 Score (Pickle):", r2_score(y_test, y_pred_pickle))

R2 Score (Joblib): 0.9564282599572764
R2 Score (Pickle): 0.9564282599572764

/Users/solomon/Documents/Solo_docs/INTO_United_States/Learning_Path/Hope AI /Start Course/Week_2_Python/myevn/lib/python3.13/site-packages/sklearn/base.py:1365: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)