<a href="https://colab.research.google.com/github/solobt777/Python_solobt777/blob/main/Extra%20Assignments/Extra_Assignment_Question_002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### **print 0 to 20 by using range**

In [1]:
# print 0 to 20 by using range
for i in range(21):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

## **# print range 10 to 20**

In [2]:
# print range 10 to 20
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

## **Print number of items in the list by using 'len'**

In [5]:
## Print number of items in the list by using 'len'
list = [10, 20, 14, 55, 43, 87, 76]
for i in range(len(list)):
    print(list[i])

10
20
14
55
43
87
76

## **print "Artificial Intelligence" text as each char**

In [6]:
string = "Artificial Intelligence"
for i in range(len(string)):
    print(string[i])

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [ ]:
## or

In [7]:
string = "Artificial Intelligence"
for i in string:
    print(i)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [ ]:
## or

In [8]:
string = "Artificial Intelligence"
for index, char in enumerate(string):
    print(f"{index}: {char}")

0: A
1: r
2: t
3: i
4: f
5: i
6: c
7: i
8: a
9: l
10:
11: I
12: n
13: t
14: e
15: l
16: l
17: i
18: g
19: e
20: n
21: c
22: e

### **Pring you Name, Age, Profession**

In [10]:
age = input("Enter your age: ")
name = input("Enter your name: ")
profession = input("Enter your profession: ")
print(  name, age, profession)

Enter your age: 50
Enter your name: Solomon
Enter your profession: Architect
Solomon 50 Architect

## **Print this mixered datatype using Tuples**

In [9]:
my_tuple = (1, 'Welcome', 2, 'Hope')
print(my_tuple)

(1, 'Welcome', 2, 'Hope')

In [12]:
my_tuple2 = (1, 'Welcome', 2, 'Hope', ('python', 'HOPE'))
print(my_tuple2)

(1, 'Welcome', 2, 'Hope', ('python', 'HOPE'))

## **print Odd Numbers in the list**

In [13]:
## print Odd Numbers in the list
list = [20,10,16,19,25,1,276,188]
for i in list:
    if i%2!=0:
        print(i)

19
25
1

## **print Even numbers in the list**

In [14]:
## print Even numbers in the list
list = [20,10,16,19,25,1,276,188]
for i in list:
    if i%2==0:
        print(i)

20
10
16
276
188