In [17]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [18]:

df = pd.read_csv('Placement.csv')
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [20]:
# fillna values in salary column
# The correct way to check for NaN values in a pandas Series is using .isna() or .isnull()
df = df.fillna(df['salary'].isna())
df = df.fillna(df['salary'].mean())
df.isna().sum()

sl_no             0
gender            0
ssc_p             0
ssc_b             0
hsc_p             0
hsc_b             0
hsc_s             0
degree_p          0
degree_t          0
workex            0
etest_p           0
specialisation    0
mba_p             0
status            0
salary            0
dtype: int64

In [7]:
dir(df)
df.select_dtypes(include=[np.number]).cov()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
sl_no,3870.000000,-52.641355,-58.106028,-40.413645,52.556168,8.102336,2.484009e+05
ssc_p,-52.641355,117.228377,60.348373,42.897137,37.659225,24.535952,1.976764e+04
hsc_p,-58.106028,60.348373,118.755706,34.819820,35.461678,22.555846,4.600806e+04
degree_p,-40.413645,42.897137,34.819820,54.151103,21.929469,17.272020,-8.064357e+03
etest_p,52.556168,37.659225,35.461678,21.929469,176.251018,16.886973,1.571579e+05
mba_p,8.102336,24.535952,22.555846,17.272020,16.886973,34.028376,6.611551e+04
salary,248400.921950,19767.643976,46008.057275,-8064.357161,157157.850783,66115.509283,5.999726e+09

In [ ]:
# covariance between two columns 'degree_p' and 'etest_p' and explain what covariance  indicate whether is is positive or negative
covariance = df['degree_p'].cov(df['etest_p'])
print("Covariance between degree_p and etest_p are postitively:", covariance)

# covariance between two columns 'etest_p' and 'mba_p' and explain what covariance  indicate whether is is positive or negative
covariance = df['etest_p'].cov(df['mba_p'])
print("Covariance between etest_p and mba_p are postitively:", covariance)

Covariance between degree_p and etest_p: 21.929468587263635
Covariance between etest_p and mba_p: 16.886973447076723

## Corelationship

In [22]:
df.select_dtypes(include=[np.number]).corr()

             sl_no     ssc_p     hsc_p  degree_p   etest_p     mba_p    salary
sl_no     1.000000 -0.078155 -0.085711 -0.088281  0.063636  0.022327  0.051550
ssc_p    -0.078155  1.000000  0.511472  0.538404  0.261993  0.388478  0.023571
hsc_p    -0.085711  0.511472  1.000000  0.434206  0.245113  0.354823  0.054506
degree_p -0.088281  0.538404  0.434206  1.000000  0.224470  0.402364 -0.014148
etest_p   0.063636  0.261993  0.245113  0.224470  1.000000  0.218055  0.152829
mba_p     0.022327  0.388478  0.354823  0.402364  0.218055  1.000000  0.146324
salary    0.051550  0.023571  0.054506 -0.014148  0.152829  0.146324  1.000000

## Positive Correlation r=1
- Perfect positive Correlation (r =1)
- Highest degree of +ve Correlation (r = High or 0.95)
- Low degree of +ve Correlation (r = + low or 0.54)

In [23]:
# positive correlation between ssc_p vs hsc_p and printing the result
correlation = df['ssc_p'].corr(df['hsc_p'])
print("correlation between ssc_p and hsc_p are LOW DEGREE CORRELATIONSHIP:", correlation)

correlation between ssc_p and hsc_p are LOW DEGREE CORRELATIONSHIP: 0.5114721015997726

## Negative Correlation (r = -1)
- Perfect positive Correlation (r = -1)
- Highest degree of +ve Correlation (r = -low or -0.54)
- Low degree of +ve Correlation (r = - high or -0.94)

In [24]:
# NEGATIVE correlation between degree_p vs salary and printing the result
correlation = df['degree_p'].corr(df['salary'])
print("correlation between degree_p and salary are HIGHEST DEGREE OF CORRELATIONSHIP:", correlation)

correlation between degree_p and salary are HIGHEST DEGREE OF CORRELATIONSHIP: -0.01414817367266129